*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background:red;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color:red;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: red;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1{
    font-size: 60px;
    position: relative;
font-family:'Showcard Gothic';
    top: -90px;
    left: 20px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color:red;
    font-family:'Times New Roman';
    line-height: 22px;
    font-size: 70px;
}

section .main .main_image img{
    width: 650px;
    position: relative;
    left: 70px;
    border-radius: 100px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    font-size: large;
    line-height: 22px;
}


.rcb{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: url(imgaes/csblogo.png) no-repeat;
    background-size: 30%,100px;

}

.rcb .rcb_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rcb .rcb_main .image img{
    width: 550px;
    height: 400px;
    position: relative;
    top: 60px;
    right: 80px;
}

.rcb .rcb_main .rcb_text h1 span{
    color:red;
    margin-right: 15px;
    font-family:Algerian;
}


.rec .rcb_main .rcb_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.rcb .rcb_main .rcb_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.rcb .rcb_main .rcb_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    font-size: large;
}

.csk{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: url(imgaes/csklogo.png) no-repeat;

}

.csk .csk_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.csk .csk_main .image img{
    width: 550px;
    height: 400px;
    position: relative;
    top: 60px;
}

.csk .csk_main .csk_text h1 span{
    color:yellow;
    margin-right: 15px;
    font-family:Algerian;
}


.csk .csk_main .csk_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.csk .csk_main .csk_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.csk .csk_main .csk_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    font-size: large;
}

.mi{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: url(imgaes/milogo.png) no-repeat;
    background-size: 55%,200px;


}

.mi .mi_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mi .mi_main .image img{
    width: 550px;
    height: 400px;
    position: relative;
    top: 60px;
}

.mi .mi_main .mi_text h1 span{
    color:blue;
    margin-right: 15px;
    font-family:Algerian;
}


.mi .mi_main .mi_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.mi .mi_main .mi_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.mi .mi_main .mi_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    font-size: large;
}




.gt{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: url(imgaes/ddlogo.png) no-repeat;
    background-size: 700px,100px;
}

.gt .gt_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gt .gt_main .image img{
    width: 550px;
    height: 400px;
    position: relative;
    top: 60px;
}

.gt .gt_main .gt_text h1 span{
    color:skyblue;
    margin-right: 15px;
    font-family:Algerian;
}


.gt .gt_main .gt_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.gt .gt_main .gt_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.gt .gt_main .gt_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    font-size: large;
}



.Tournament{
    width: 100%;
    padding: 70px 0;
}

.Tournament h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.Tournament h1 span{
    color:red;
    margin-left: 15px;
    font-family:Arial;
}



.Tournament .Tournament_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.Tournament .Tournament_box .Tournament_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.Tournament .Tournament_box .Tournament_card .Tournament_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.Tournament .Tournament_box .Tournament_card .Tournament_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.Tournament .Tournament_box .Tournament_card .Tournament_image:hover img{
    transform: scale(1.1);
}



.Tournament .Tournament_box .Tournament_card .Tournament_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color:green;
}

.Tournament .Tournament_box .Tournament_card .Tournament_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.Tournament .Tournament_box .Tournament_card .Tournament_info h3{
    text-align: center;
    margin-top: 10px;
}


footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #454647;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: red;
    margin-left: 10px;
}

